body {
background-color: aliceblue;
}

.cabecalho {
background-color: gold;
border-radius: 50px 50px 50px 50px;
}

.cabecalho__imagem {
width: 200px;
height: 200px;
margin: 30px 620px 30px 650px
}

.cabecalho__menu {
    display: inline;
}
.cabecalho__menu-item {
    display: inline;
    margin-left: 135px;
}