* {
margin: 0;
padding: 0;
}

body {
background-color: rgb(255, 255, 255);
font-family: 'Rajdhani', sans-serif;
}

.cabecalho {
background-image: linear-gradient(to bottom, #FBBC1A, #e9dbb5);
display: flex;
justify-content: space-around;
align-items: center;
}

.cabecalho__imagem {
width: 200px;
height: 200px;
margin: 0px 0px 0px 0px;
}

.cabecalho__menu {
    display: flex;
}
.cabecalho__menu-item {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    font-size: 25px;
}

.logotipo-junto {
    width: 400px;
    height: 400px;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

.sobre-div-conteudo {
    width: 70%;
    text-align: center;
}

.sobre-titulo {
    font-family: 'Satisfy', cursive;
    padding: 24px; 0
}

.alvo-imagem {
    width: 300px;
    height: 300px;
    justify-content: center;
}

.objetivos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

.objetivos-div-conteudo {
    width: 70%;
    text-align: center;
}

.objetivos-titulo {
    font-family: 'Satisfy', cursive;
    padding: 24px; 0
}

.imagem-tres-turmas {
    width: 400px;
    height: 300px;
    justify-content: center;
}

.publico {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

.publico-div-conteudo {
    text-align: center;
    width: 50%;
}

.publico-titulo {
    font-family: 'Satisfy', cursive;
    padding: 24px; 0
}

.experiencias-titulo {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 36px;
}

.experiencia-um-foto {
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 540px;
    padding: 4px; 0;
}

.experiencia-um-div-conteudo {
    width: 70%;
    text-align: center;
}

.experiencia-um-titulo {
    padding: 18px; 0
    font-size: 10px;
}

.experiencia-um {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}
